body{
    background: linear-gradient(to right,purple,pink,light purple
    );
    font-family: Arial, Helvetica, sans-serif;
    color:beige;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}